body {
 background-color:Burlywood; color:black;
text-transform:uppercase;
font-size:20pt;
font-family:"Courier New"    "arial" sans-serif; 
      }
header  {  background-color:210, 180, 140 ; }

th, td, table {border:1px solid;  	 background: #D2B48C	;
 border-collapse: collapse ; }

a {color:black  }




