body {
 background-color:Burlywood; color:white 
      }
header  {  background-color:210, 180, 140 ; }

th, td, table {border:1px solid;  	 background: #D2B48C	;
 border-collapse: collapse ; }

a {color:white  }

